.vbox{
    -fx-background-color:  #284469;
    -fx-spacing: 5px;
}
.custom-button {
    -fx-background-color: #284469;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px ;
}

